<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
	xmlns:gap = "http://phonegap.com/ns/1.0"
	id          = "org.coenraets.employeedirectory"
	version     = "1.0.0">

    <name>SMS APP</name>

    <description>
	A simple app to send sms
    </description>

    <author href="http://www.ezraobiwale.com" email="ezra.obiwale@gmail.com">
	Ezra Obiwale
    </author>

    <preference name="orientation" value="landscape" />

    <feature name="http://api.phonegap.com/1.0/contacts"/>
    <feature name="http://api.phonegap.com/1.0/network"/>
    <feature name="http://api.phonegap.com/1.0/notification"/>

</widget>